
.header-container{

}
.header-item{
    float: left;
    margin-left: 20px;
}
.iconfont{
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

/*搜索*/
.header-search{
    position: relative;
    width: 400px;
    margin-left: 100px;
}
.search-input{
    float: left;
    width: 350px;
}
.search-btn{
    position: relative;
    float: left;
}

.search-history{
    background-color: #ffffff;
    position: absolute;
    width: 350px;
    top:45px;
    z-index: 999;
}
.search-history-title{
    background-color: #f1ffff;
    height: 30px;
}
.search-history-title-clean{
    float: right;
    color: #CD853F;
    font-weight: 800;
    cursor: default;
    margin-right: 15px;
}
.search-history-item{
    border: solid 1px burlywood;
    margin: 1px;
    color: black;
    cursor: default;
}

.search-history-item-active{
    color: red;
}

.header-home{

}

.header-user-icon{
    float: left;
}
.header-user-btn{
    float: left;

    color: blue;
}
.header-user-btn{
    margin-top: 12px;

    float: left;
    color: blue;
    cursor: default;
}
.header-user-btn span{
    margin-left: 5px;
}

.header-user-btn-active{
    color: red;
}

.header-user-name{
    float: left;
    margin-left: 5px;
    margin-top: 15px;
    color: #66c523;
    font-weight: 600;
    cursor: default;
}

.message-notice-icon{
    float: left;
}
.message-notice-num{
    background-color: red;
    margin-top: 10px;
    margin-left: -10px;
    float: left;
    z-index: 1000;
    color: black;
    font-weight: 600 ;

}
/*}*/
/*.search-input{*/
    /*float: left;*/
/*}*/
/*.search-input  .el-input{*/
    /*width: 350px;*/
    /*height: 30px;*/
    /*float: left;*/

/*}*/

/*.search-history{*/
    /*width: 350px;*/
    /*position: relative;*/
    /*left: 245px;*/
    /*top: 42px;*/
    /*z-index: 999;*/

    /*background-color: white;*/

    /*cursor: default;*/

/*}*/




/*!***/
/*消息通知*/
 /**!*/


/*.iconfont{*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*margin-top: 10px;*/
/*}*/

/*.el-icon-search{*/
    /*font-size: 25px;
}*/