#acticle-view-container{

    position: relative;
    min-width: 800px;
    width: 100%;
    height: 100%;
    text-align: center;

}
/**
文章内容框
 */
.article-block{
    position: relative;
    width: 1200px;
    left: 10%;
    min-height: 800px;

    border: #9a6e3a 1px solid;

    margin-top: 30px;

    background-color: #ffffff;
}

/*标题*/
.title-block{
    width: inherit;
    background-color: #52CCBA;

}
.title-block ul{
    width: inherit;
    height: 40px;
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;

}
.title-ul li{
    float: left;
    /*width: 100px;*/
}
.title-ul li:nth-child(1){
    width: 52%;
}
.title-ul li:nth-child(2){
    width: 8%;
}

.title-ul li:nth-child(3){
    width: 8%;
}
.title-ul li:nth-child(4){
    width: 8%;
}
.title-ul li:nth-child(5){
    width: 8%;
}
.title-ul li:nth-child(6){
    width: 8%;
}
.title-ul li:nth-child(6){
    width: 8%;
}


/*列表*/
.article-list-block{
    width: inherit;
}
.article-list-block ul{
    width: inherit;
    height: 40px;
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;

    border: #b3d4fc 1px solid;

}
.article-list-block ul li{

    cursor: default;
    width: inherit;
    margin-top: 5px;
    text-align: center;

    /*float: left;*/
    /*width: 100px;*/
}
.article-list-item:nth-child(1){
    width: 52%;
}
.article-list-item:nth-child(2){
    width: 8%;
}

.article-list-item:nth-child(3){
    width: 8%;
}
.article-list-item:nth-child(4){
    width: 8%;
}
.article-list-item:nth-child(5){
    width: 8%;
}
.article-list-item:nth-child(6){
    width: 8%;
}
.article-list-item:nth-child(6){
    width: 8%;
}


.tips{
    height: 30px;
}
/***/
.pre-view-block{
    width: inherit;
    background-color: #ffffff;
    min-height: 800px;
}
.pre-view-title{
    width: inherit;
    height: 40px;
    background-color: #52CCBA;
    /*margin-bottom: 0px;*/
}
.pre-view-return-icon{
    float: right;
    right: 0px;
    margin-top: 5px;
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 100;
}
.pre-view-content{

    margin-top: 0px;
    text-align: left;
    min-height: inherit;
    background-color: #ffffff;
}
