.left-container{
    width: 250px;
    float: left;

}
.left-option-container{
    width: 100%;
    height: 80px;
    border: 1px black solid;
    background-color: #ffffff;

}
/*左侧选项*/
.left-option-container ul{
    margin-left: 0px;
    padding-left: 0px;
}
.left-option-container li{

    text-align: center;
    float: left;
    list-style: none;
    width: 31%;
    margin-top: 10px;
    margin-left: 0px;
    padding-left: 0px;
    border-left: #999999 solid 1px;
    cursor: default;
}

.left-per-data{
    margin-top: 20px;
    width: 100%;
    height: 200px;
    border: 1px black solid;
    background-color: #ffffff;


}


/*********************/
.right-container{

    position: relative;
    float: right;
    background-color: red;
    min-height: 500px;
    width: 720px;
    background-color: #ffffff;
}