.blog-content{
    margin-top: 20px;
    /*border: solid 1px red;*/
    background-color: #fffdef;
    margin-bottom: 20px;

}

/*××××××××××××××××××*/
.header-block{
    position: relative;
    height: 80px;
    /*border: red 1px solid;*/
}
.header-img-div{
    float: left;
}
.header-block .el-avatar{

    margin-top: 10px;
    margin-left: 10px;
}
.header-block img{

    height: 60px;
    width: 60px;

}
.user-name-div{
    float: left;
    cursor: default;
}
.user-name-active{
    color: red;
    font-weight: 700;
}
.user-name{
    position: absolute;
    float: left;
    margin-left: 15px;
    top: 15px;

}
.publish-time{
    position: absolute;
    float: left;
    margin-left: 15px;
    top: 55px;
}


/*****************************/
.Video{
    width: 100px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 相当于 1fr 1fr 1fr */
    grid-template-rows: repeat(3, 1fr); /* fr单位可以将容器分为几等份 */
    grid-gap: 1%; /* grid-column-gap 和 grid-row-gap的简写 */
    grid-auto-flow: row;
    width: 480px;

}
.grid>div{
    color: #f5f2f0;
    font-size: 20px;
    width: 20px;

    line-height: 0;
    text-align: center;
    /*background: linear-gradient(to bottom, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);*/
}

/*×××××××××××××××××××××*/
.footer-block{

    height: 50px;
}

.iconfont{
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

.footer-block ul{
    list-style: none;

}

.footer-block li{
    float: left;
    width: 150px;
    cursor: default;
}