.left-menu{
    min-width: 20%;
    width: 200px;
    float: left;
}

.right-display{
    max-width: 80%;
    width: 80%;
    min-width: 60%;
    float: left;

}

.breadcrum-title{
    margin-top: 20px;
}